{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-danger text-center">
            <i class="fas fa-exclamation-triangle fa-3x mb-3"></i>
            <h2>Oops! Something went wrong</h2>
            <p class="lead">{{ error }}</p>
            
            <div class="mt-4">
                <a href="/" class="btn btn-primary">
                    <i class="fas fa-home"></i> Go Back Home
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
